.grid{
  border-radius: 8px;
}
.grid:hover{
  transform: scale(1.1);
  z-index: 2;
  
}

.card:hover{
  background-color: #424a60;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.responsive2 {
  padding-top: 2px;
  width: 100%;
  max-width: 150px;
  height: auto; 
  justify-self: center;
  color: blue;
}
.responsive3 {
  padding-top: 2px;
  width: 100%;
  height: auto; 
  justify-self: center;
  color: blue;
  position: absolute;
  object-fit: cover;
}
